@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,500&display=swap')

$main-color: #03C4EB

*
    box-sizing: border-box !important
    margin: 0
    padding: 0
    outline: none
    font-family: 'Raleway', sans-serif

body
    background-color: #EEE !important

::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-thumb
    background-color: $main-color
    height: 67px

::-webkit-scrollbar-track
    background-color: #EEE

section.landing
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background: url('imgs/hero-bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    color: #E4E6EB
    overflow: hidden
    &::before
        content: ''
        width: 100%
        height: 100vh
        position: absolute
        filter: opacity(.8)
        background-color: #000
    img
        position: relative
        margin-block-end: 20px
    h1
        position: relative
        font-size: 35px
        font-weight: 700 !important
        margin: 0
        padding: 0
        margin-block-end: 10px
        cursor: default
    div
        position: relative
        margin: 0
        padding: 0
        &:first-of-type
            width: 370.3px
            display: flex
            margin-block-end: 50px
            p
                font-size: 25px
                font-weight: 500
                font-style: italic
                margin: 0
                padding: 0
                color: #B0B3B8
                cursor: default
            span
                font-size: 25px
                font-weight: 500
                font-style: italic
                border-bottom: 3px solid $main-color
                cursor: default
        &:last-child
            width: 562.56px
            display: flex
            justify-content: space-around
            a
                padding: 10px 20px
                border: 2px solid transparent
                color: #FFF
                letter-spacing: 2px
                transition: .5s
                text-decoration: none
                text-align: center
                &:first-child
                    background-color: $main-color
                    &:hover
                        background-color: transparent
                        border-color: #E4E6EB
                &:last-child
                    background-color: transparent
                    border-color: #E4E6EB
                    &:hover
                        background-color: $main-color
                        border-color: transparent

@media (max-width: 991.98px)
    section.landing
        h1
            font-size: 25px !important
            text-align: center !important
        div
            &:first-of-type
                width: 266.63px !important
                p
                    font-size: 18px !important
                span
                    font-size: 18px !important
            &:last-child
                width: fit-content !important
                height: 110px
                flex-direction: column !important
                justify-content: space-between !important

@media (max-width: 767.98px)
    section.landing
        img
            max-width: 300px !important
        h1
            font-size: 22px !important
            text-align: center !important
        div
            &:first-of-type
                width: 237.61px !important
                p
                    font-size: 16px !important
                span
                    font-size: 16px !important
                    border-bottom: 2px solid $main-color !important
            &:last-child
                width: fit-content !important
                height: 110px
                flex-direction: column !important
                justify-content: space-between !important

nav
    width: 100%
    height: 70px
    position: sticky
    top: 0
    display: flex
    justify-content: space-around
    align-items: center
    margin: 0
    padding: 0
    background-color: #0d0d0d
    z-index: 9999
    transition: .5s
    overflow: hidden
    a
        img
            max-width: 150px
            margin: 0
            padding: 0
    ul
        width: 50%
        height: max-content
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0
        padding: 0
        list-style: none
        li
            margin: 0
            padding: 0
            a
                color: #E4E6EB
                text-decoration: none
                margin: 0
                padding: 0
                transition: .5s
                &:hover
                    color: $main-color

section.about
    position: relative
    width: 100%
    margin: 0
    padding: 0
    padding-block-start: 75px
    padding-block-end: 75px
    overflow: hidden
    div
        margin: 0
        padding: 0
        &:first-child
            margin-block-end: 50px
            p
                position: relative
                display: block
                width: fit-content
                padding: 0
                margin: 0 auto
                &:first-child
                    font-size: 32px
                    font-weight: 700
                    color: #111
                    margin-block-end: 20px
                    cursor: default
                    z-index: 9998
                    transition: .5s
                    &::before
                        content: ''
                        position: absolute
                        display: block
                        width: 50px
                        height: 5px
                        bottom: 0
                        left: calc( 50% - 25px )
                        background-color: $main-color
                        transition: .5s
                        z-index: -1
                    &:hover
                        color: #E4E6EB
                        &::before
                            width: 110%
                            left: -5%
                            height: 48px
                &:last-child
                    color: #666
                    font-style: italic
                    letter-spacing: 1.5px
        &:nth-child(2)
            display: flex
            justify-content: flex-end
            align-items: center
            padding-inline-end: 15px
            div
                max-width: 85%
                overflow: hidden
                transition: .5s
                margin: 0
                padding: 0 !important
                &:hover
                    img
                        filter: grayscale(0)
                        transform: scale(1.05)
                img
                    max-width: 100%
                    filter: grayscale(.7)
                    transition: .5s
        &:last-child
            display: flex
            flex-direction: column
            align-items: flex-start
            padding-inline-start: 15px
            p
                max-width: 85%
                line-height: 26px
                &:first-child
                    font-size: 28px
                    font-weight: 700
                    color: #333
                    cursor: default
                &:nth-child(2), &:nth-child(3), &:last-child
                    font-style: italic
                    color: #666
                &:last-child
                    margin: 0
                    padding: 0

@media (max-width: 991.98px)
    section.about
        div
            &:first-child
                p
                    &:last-child
                        text-align: center
            &:nth-child(2)
                justify-content: center !important
                margin-block-end: 20px !important
                padding-inline-end: 0 !important
                div
                    max-width: 95% !important
            &:last-child
                align-items: center !important
                padding-inline-start: 0 !important
                p
                    max-width: 95% !important
                    &:first-child
                        text-align: center
                        font-size: 22px !important

section.services
    position: relative
    width: 100%
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("imgs/services-bg.jpg") fixed center center
    background-size: cover
    padding-block-start: 75px
    padding-block-end: 75px
    margin: 0
    overflow: hidden
    display: flex
    justify-content: center
    div
        margin: 0
        padding: 0
        &:first-child
            margin-block-end: 50px
            p
                position: relative
                display: block
                width: fit-content
                padding: 0
                margin: 0 auto
                &:first-child
                    font-size: 32px
                    font-weight: 700
                    color: #111
                    margin-block-end: 20px
                    cursor: default
                    z-index: 9998
                    transition: .5s
                    &::before
                        content: ''
                        position: absolute
                        display: block
                        width: 50px
                        height: 5px
                        bottom: 0
                        left: calc( 50% - 25px )
                        background-color: $main-color
                        transition: .5s
                        z-index: -1
                    &:hover
                        color: #E4E6EB
                        &::before
                            width: 110%
                            left: -5%
                            height: 48px
                &:last-child
                    color: #666
                    font-style: italic
                    letter-spacing: 1.5px
        &:nth-child(2), &:nth-child(3), &:nth-child(4)
            padding: 0 25px 25px
        &:nth-child(5),&:nth-child(6), &:nth-child(7)
            padding: 25px 25px 0
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5),&:nth-child(6), &:nth-child(7)
            &:hover
                div
                    div
                        background-color: #EEE
                        border: 1px solid $main-color
                        svg
                            color: $main-color
            div
                width: fit-content
                height: fit-content
                margin: 0
                padding: 0
                display: flex
                align-items: center
                div
                    width: fit-content !important
                    height: fit-content !important
                    background-color: $main-color
                    border-radius: 50%
                    padding: 15px
                    margin-inline-end: 15px
                    border: 1px solid transparent
                    transition: .5s
                    svg
                        width: 24px
                        height: 24px
                        color: #E4E6EB
                        transition: .5s
                p
                    width: fit-content !important
                    font-size: 24px
                    font-weight: 700
                    color: #111 !important
                    letter-spacing: 1px !important
                    font-style: normal !important
                    margin: 0 !important
                    padding: 0
                    cursor: default
                    left: 0 !important
            p
                position: relative
                color: #666
                padding: 0
                width: fit-content !important
                margin: 0 !important
                left: 71px
                padding-right: 71px

@media (max-width: 991.98px)
    section.services
        div
            &:nth-child(7)
                padding-bottom: 0 !important 
            &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5),&:nth-child(6), &:nth-child(7)
                padding: 0 15px 50px !important 
                display: flex !important
                flex-direction: column !important
                align-items: center !important
                padding-left: 15px !important
                padding-right: 15px !important
                div
                    width: 100% !important
                    justify-content: flex-start !important
                    p
                        width: fit-content !important
                        font-size: 20px !important
                p
                    left: 71px !important
                    padding-right: 71px !important

@media (max-width: 767.98px)
    section.services
        div
            &:first-child
                p
                    &:last-child
                        text-align: center !important
            &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5),&:nth-child(6), &:nth-child(7)
                div
                    p
                        width: fit-content !important
                        padding: 0 !important
                p
                    padding-right: 20px !important

section.subscribe
    position: relative
    width: 100%
    margin: 0
    padding: 0
    padding-block-start: 75px
    padding-block-end: 75px
    overflow: hidden
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imgs/subscribe-bg.jpg) fixed center center
    background-size: cover
    display: flex
    justify-content: space-around
    align-items: center
    div
        p
            margin: 0
            padding: 0
            &:first-child
                width: fit-content
                font-size: 28px
                font-weight: 700
                margin-block-end: 20px
                border-bottom: 3px solid $main-color
                padding-block-end: 5px
                color: #E4E6EB
                cursor: default
            &:last-child
                width: fit-content
                font-weight: 500
                font-style: italic
                width: 85%
                color: #B0B3B8
    a
        padding: 10px 20px
        border: 2px solid #FFF
        color: #FFF
        letter-spacing: 2px
        transition: .5s
        text-decoration: none
        text-align: center
        &:hover
            background-color: $main-color
            border-color: transparent

@media (max-width: 767.98px)
    section.subscribe
        flex-direction: column
        justify-content: center
        div
            p
                text-align: center
                &:first-child
                    font-size: 22px !important
                    margin: 0 auto !important
                    margin-block-end: 20px !important
                &:last-child
                    margin: 0 auto !important
                    margin-block-end: 50px !important