@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #FCFCFC;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #F25657;
  height: 67px;
}

::-webkit-scrollbar-track {
  background-color: #FCFCFC;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #FCFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preloader .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

#preloader .lds-ripple div {
  position: absolute;
  border: 4px solid #F25657;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

section.landing {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("imgs/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FCFCFC;
  overflow: hidden;
}

section.landing::before {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  background-color: #000;
}

section.landing img {
  position: relative;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}

section.landing h1 {
  position: relative;
  font-size: 35px;
  font-weight: 700 !important;
  margin: 0;
  padding: 0;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  cursor: default;
}

section.landing div {
  position: relative;
  margin: 0;
  padding: 0;
}

section.landing div:first-of-type {
  width: 370.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
  white-space: nowrap;
}

section.landing div:first-of-type p {
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  margin: 0;
  padding: 0;
  color: #B0B3B8;
  cursor: default;
}

section.landing div:first-of-type span {
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  border-bottom: 3px solid #F25657;
  cursor: default;
}

section.landing div:last-child {
  width: 562.56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.landing div:last-child a {
  padding: 10px 20px;
  border: 2px solid transparent;
  color: #FCFCFC;
  letter-spacing: 2px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  text-align: center;
}

section.landing div:last-child a:first-child {
  background-color: #F25657;
}

section.landing div:last-child a:first-child:hover {
  background-color: transparent;
  border-color: #FCFCFC;
}

section.landing div:last-child a:last-child {
  background-color: transparent;
  border-color: #FCFCFC;
}

section.landing div:last-child a:last-child:hover {
  background-color: #F25657;
  border-color: transparent;
}

@media (max-width: 991.98px) {
  section.landing h1 {
    font-size: 25px !important;
    text-align: center !important;
  }
  section.landing div:first-of-type {
    width: 266.63px !important;
  }
  section.landing div:first-of-type p {
    font-size: 18px !important;
  }
  section.landing div:first-of-type span {
    font-size: 18px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  section.landing div:last-child {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: 110px;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  section.landing div:last-child a {
    font-size: 17px;
  }
}

@media (max-width: 767.98px) {
  section.landing img {
    max-width: 300px !important;
  }
  section.landing h1 {
    font-size: 22px !important;
    text-align: center !important;
  }
  section.landing div:first-of-type {
    width: 237.61px !important;
  }
  section.landing div:first-of-type p {
    font-size: 16px !important;
  }
  section.landing div:first-of-type span {
    font-size: 16px !important;
    border-bottom: 2px solid #F25657 !important;
  }
  section.landing div:last-child {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: 110px;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

nav {
  width: 100%;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  z-index: 9998;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-padding-start: 15px !important;
          padding-inline-start: 15px !important;
  -webkit-padding-end: 15px !important;
          padding-inline-end: 15px !important;
}

nav a img {
  max-width: 150px;
  margin: 0;
  padding: 0;
}

nav ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul span {
  display: none;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul li a:hover {
  color: #F25657;
}

nav div.bars {
  display: none;
  cursor: pointer;
}

nav div.bars svg {
  color: #FFF;
}

@media (max-width: 991.98px) {
  nav {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  nav ul {
    position: fixed;
    display: none;
    width: 100% !important;
    height: 100vh !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    left: 0;
    top: 0;
    background-color: #0d0d0d;
    padding: 100px 0 !important;
    z-index: 9999;
  }
  nav ul span {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
  }
  nav ul li {
    margin: 10px 0;
  }
  nav div.bars {
    display: block;
  }
}

section.about {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-padding-before: 80px;
          padding-block-start: 80px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  overflow: hidden;
  background-color: #FCFCFC;
}

section.about div {
  margin: 0;
  padding: 0;
}

section.about div:first-child {
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

section.about div:first-child p {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

section.about div:first-child p:first-child {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  cursor: default;
  z-index: 9997;
  -webkit-transition: .5s;
  transition: .5s;
}

section.about div:first-child p:first-child::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  bottom: 0;
  left: calc( 50% - 25px);
  background-color: #F25657;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

section.about div:first-child p:first-child:hover {
  color: #FCFCFC;
}

section.about div:first-child p:first-child:hover::before {
  width: 110%;
  left: -5%;
  height: 48px;
}

section.about div:first-child p:last-child {
  color: #666;
  font-style: italic;
  letter-spacing: 1.5px;
}

section.about div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-end: 15px;
          padding-inline-end: 15px;
}

section.about div:nth-child(2) div {
  max-width: 85%;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0;
  padding: 0 !important;
}

section.about div:nth-child(2) div:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.about div:nth-child(2) div img {
  max-width: 100%;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  -webkit-transition: .5s;
  transition: .5s;
}

section.about div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}

section.about div:last-child p {
  max-width: 85%;
  line-height: 26px;
}

section.about div:last-child p:first-child {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  cursor: default;
}

section.about div:last-child p:nth-child(2), section.about div:last-child p:nth-child(3), section.about div:last-child p:last-child {
  font-style: italic;
  color: #666;
}

section.about div:last-child p:last-child {
  margin: 0;
  padding: 0;
}

@media (max-width: 991.98px) {
  section.about div:first-child p:last-child {
    text-align: center;
  }
  section.about div:nth-child(2) {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-margin-after: 20px !important;
            margin-block-end: 20px !important;
    -webkit-padding-end: 0 !important;
            padding-inline-end: 0 !important;
  }
  section.about div:nth-child(2) div {
    max-width: 95% !important;
  }
  section.about div:last-child {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
  }
  section.about div:last-child p {
    max-width: 95% !important;
  }
  section.about div:last-child p:first-child {
    text-align: center;
    font-size: 22px !important;
  }
}

section.services {
  position: relative;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url("imgs/services-bg.jpg") fixed center center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("imgs/services-bg.jpg") fixed center center;
  background-size: cover;
  -webkit-padding-before: 80px;
          padding-block-start: 80px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-start: 10px !important;
          padding-inline-start: 10px !important;
  -webkit-padding-end: 10px !important;
          padding-inline-end: 10px !important;
}

section.services div {
  margin: 0;
  padding: 0;
}

section.services div:first-child {
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

section.services div:first-child p {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

section.services div:first-child p:first-child {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  cursor: default;
  z-index: 9997;
  -webkit-transition: .5s;
  transition: .5s;
}

section.services div:first-child p:first-child::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  bottom: 0;
  left: calc( 50% - 25px);
  background-color: #F25657;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

section.services div:first-child p:first-child:hover {
  color: #FCFCFC;
}

section.services div:first-child p:first-child:hover::before {
  width: 110%;
  left: -5%;
  height: 48px;
}

section.services div:first-child p:last-child {
  color: #666;
  font-style: italic;
  letter-spacing: 1.5px;
}

section.services div:nth-child(2), section.services div:nth-child(3), section.services div:nth-child(4) {
  padding: 0 50px 50px;
}

section.services div:nth-child(5), section.services div:nth-child(6), section.services div:nth-child(7) {
  padding: 50px 50px 0;
}

section.services div:nth-child(2):hover div div, section.services div:nth-child(3):hover div div, section.services div:nth-child(4):hover div div, section.services div:nth-child(5):hover div div, section.services div:nth-child(6):hover div div, section.services div:nth-child(7):hover div div {
  background-color: #EEE;
  border: 1px solid #F25657;
}

section.services div:nth-child(2):hover div div svg, section.services div:nth-child(3):hover div div svg, section.services div:nth-child(4):hover div div svg, section.services div:nth-child(5):hover div div svg, section.services div:nth-child(6):hover div div svg, section.services div:nth-child(7):hover div div svg {
  color: #F25657;
}

section.services div:nth-child(2) div, section.services div:nth-child(3) div, section.services div:nth-child(4) div, section.services div:nth-child(5) div, section.services div:nth-child(6) div, section.services div:nth-child(7) div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.services div:nth-child(2) div div, section.services div:nth-child(3) div div, section.services div:nth-child(4) div div, section.services div:nth-child(5) div div, section.services div:nth-child(6) div div, section.services div:nth-child(7) div div {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  background-color: #F25657;
  border-radius: 50%;
  padding: 15px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  border: 1px solid transparent;
  -webkit-transition: .5s;
  transition: .5s;
}

section.services div:nth-child(2) div div svg, section.services div:nth-child(3) div div svg, section.services div:nth-child(4) div div svg, section.services div:nth-child(5) div div svg, section.services div:nth-child(6) div div svg, section.services div:nth-child(7) div div svg {
  width: 24px;
  height: 24px;
  color: #FCFCFC;
  -webkit-transition: .5s;
  transition: .5s;
}

section.services div:nth-child(2) div p, section.services div:nth-child(3) div p, section.services div:nth-child(4) div p, section.services div:nth-child(5) div p, section.services div:nth-child(6) div p, section.services div:nth-child(7) div p {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  font-size: 24px;
  font-weight: 700;
  color: #111 !important;
  letter-spacing: 1px !important;
  font-style: normal !important;
  margin: 0 !important;
  padding: 0;
  cursor: default;
}

section.services div:nth-child(2) p, section.services div:nth-child(3) p, section.services div:nth-child(4) p, section.services div:nth-child(5) p, section.services div:nth-child(6) p, section.services div:nth-child(7) p {
  position: relative;
  color: #666;
  padding: 0;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 0 0 0 72px !important;
}

@media (max-width: 991.98px) {
  section.services div:first-child p:last-child {
    text-align: center !important;
  }
  section.services div:nth-child(7) {
    padding-bottom: 0 !important;
  }
  section.services div:nth-child(2), section.services div:nth-child(3), section.services div:nth-child(4), section.services div:nth-child(5), section.services div:nth-child(6), section.services div:nth-child(7) {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  section.services div:nth-child(2) div, section.services div:nth-child(3) div, section.services div:nth-child(4) div, section.services div:nth-child(5) div, section.services div:nth-child(6) div, section.services div:nth-child(7) div {
    width: 100% !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  section.services div:nth-child(2) div p, section.services div:nth-child(3) div p, section.services div:nth-child(4) div p, section.services div:nth-child(5) div p, section.services div:nth-child(6) div p, section.services div:nth-child(7) div p {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    font-size: 20px !important;
  }
  section.services div:nth-child(2), section.services div:nth-child(4), section.services div:nth-child(6) {
    padding: 0 25px 50px 0 !important;
  }
  section.services div:nth-child(3), section.services div:nth-child(5), section.services div:nth-child(7) {
    padding: 0 0 50px 25px !important;
  }
}

@media (max-width: 767.98px) {
  section.services div:nth-child(2), section.services div:nth-child(3), section.services div:nth-child(4), section.services div:nth-child(5), section.services div:nth-child(6), section.services div:nth-child(7) {
    padding: 0 0 50px !important;
  }
}

section.subscribe {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 60px 20px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(imgs/subscribe-bg.jpg) fixed center center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imgs/subscribe-bg.jpg) fixed center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.subscribe div p {
  margin: 0;
  padding: 0;
}

section.subscribe div p:first-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 28px;
  font-weight: 700;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  border-bottom: 3px solid #F25657;
  -webkit-padding-after: 5px;
          padding-block-end: 5px;
  color: #FCFCFC;
  cursor: default;
}

section.subscribe div p:last-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-style: italic;
  width: 85%;
  color: #B0B3B8;
}

section.subscribe button {
  padding: 10px 20px;
  border: 2px solid #FCFCFC;
  color: #FCFCFC;
  letter-spacing: 2px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}

section.subscribe button:hover {
  background-color: #F25657;
  border-color: transparent;
}

@media (max-width: 767.98px) {
  section.subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.subscribe div p {
    text-align: center;
  }
  section.subscribe div p:first-child {
    font-size: 22px !important;
    margin: 0 auto !important;
    -webkit-margin-after: 20px !important;
            margin-block-end: 20px !important;
  }
  section.subscribe div p:last-child {
    margin: 0 auto !important;
    -webkit-margin-after: 50px !important;
            margin-block-end: 50px !important;
  }
}

section.subscribe-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #121212ce;
  top: 0;
  left: 0;
  z-index: -56;
  color: #fff;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

section.subscribe-box span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

section.subscribe-box div.subscribe-box2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #121212;
  padding: 50px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 20px;
  border: 0;
  border-radius: 7px;
}

section.subscribe-box div.subscribe-box2 h2 {
  position: relative;
  font-size: 60px;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
  font-weight: bold;
  text-align: center;
}

section.subscribe-box div.subscribe-box2 h2::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background-color: #F25657;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

section.subscribe-box div.subscribe-box2 p {
  max-width: 450px;
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
}

section.subscribe-box div.subscribe-box2 label {
  position: absolute;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18px;
  top: 59.5%;
  left: 12.5%;
  -webkit-transition: .5s;
  transition: .5s;
}

section.subscribe-box div.subscribe-box2 div {
  position: relative;
  width: 100%;
  max-height: 40px;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

section.subscribe-box div.subscribe-box2 div input {
  position: relative;
  width: 100%;
  height: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .5s;
  transition: .5s;
  caret-color: #F25657;
  color: #FCFCFC;
  padding: 15px 40px 15px 15px;
  background: transparent;
  border-radius: 0;
  border: 2px solid transparent;
  border-bottom: 2px solid #555;
  font-size: 18px;
}

section.subscribe-box div.subscribe-box2 div input::-webkit-input-placeholder {
  color: #FCFCFC;
}

section.subscribe-box div.subscribe-box2 div input:-ms-input-placeholder {
  color: #FCFCFC;
}

section.subscribe-box div.subscribe-box2 div input::-ms-input-placeholder {
  color: #FCFCFC;
}

section.subscribe-box div.subscribe-box2 div input::placeholder {
  color: #FCFCFC;
}

section.subscribe-box div.subscribe-box2 div input:focus {
  border-bottom: 2px solid #F25657;
}

section.subscribe-box div.subscribe-box2 div span {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 50%;
  right: 10px;
  top: 50%;
  background-color: #555;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .5s;
  transition: .5s;
}

section.subscribe-box div.subscribe-box2 button {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #F25657;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 0;
  border-radius: 7px;
  color: #FCFCFC;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: .5s;
  transition: .5s;
}

section.subscribe-box div.subscribe-box2 button:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  letter-spacing: 6px;
}

@media (max-width: 767.98px) {
  section.subscribe-box div.subscribe-box2 {
    padding: 20px;
  }
  section.subscribe-box div.subscribe-box2 h2 {
    font-size: 30px;
  }
  section.subscribe-box div.subscribe-box2 p {
    width: 100%;
  }
}

.valid {
  background-color: #0f0 !important;
  -webkit-box-shadow: 0 0 5px #0f0,0 0 10px #0f0,0 0 20px #0f0,0 0 40px #0f0;
          box-shadow: 0 0 5px #0f0,0 0 10px #0f0,0 0 20px #0f0,0 0 40px #0f0;
}

.invalid {
  background-color: #f00 !important;
  -webkit-box-shadow: 0 0 5px #f00,0 0 10px #f00,0 0 20px #f00,0 0 40px #f00;
          box-shadow: 0 0 5px #f00,0 0 10px #f00,0 0 20px #f00,0 0 40px #f00;
}

section.portfolio {
  position: relative;
  width: 100%;
  -webkit-padding-before: 80px;
          padding-block-start: 80px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 10px !important;
          padding-inline-start: 10px !important;
  -webkit-padding-end: 10px !important;
          padding-inline-end: 10px !important;
  background-color: #FCFCFC;
}

section.portfolio div.portfolio-header {
  margin: 0;
  padding: 0;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

section.portfolio div.portfolio-header p {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

section.portfolio div.portfolio-header p:first-child {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  cursor: default;
  z-index: 9997;
  -webkit-transition: .5s;
  transition: .5s;
}

section.portfolio div.portfolio-header p:first-child::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  bottom: 0;
  left: calc( 50% - 25px);
  background-color: #F25657;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

section.portfolio div.portfolio-header p:first-child:hover {
  color: #FCFCFC;
}

section.portfolio div.portfolio-header p:first-child:hover::before {
  width: 110%;
  left: -5%;
  height: 48px;
}

section.portfolio div.portfolio-header p:last-child {
  color: #666;
  font-style: italic;
  letter-spacing: 1.5px;
  text-align: center;
}

section.portfolio div.portfolio-container {
  width: 80%;
}

section.portfolio div.portfolio-container div {
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

section.portfolio div.portfolio-container div:hover div {
  opacity: 1;
  z-index: 9997;
}

section.portfolio div.portfolio-container div div {
  width: 336px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

section.portfolio div.portfolio-container div div p {
  color: #FCFCFC;
  -webkit-margin-after: 20px !important;
          margin-block-end: 20px !important;
  font-size: 22px;
  font-weight: 700;
  cursor: default;
}

section.portfolio div.portfolio-container div div div {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.portfolio div.portfolio-container div div div a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  border: 0;
}

section.portfolio div.portfolio-container div div div a svg {
  color: #F25657;
  width: 20px;
  height: 20px;
}

section.portfolio div.portfolio-container div img {
  position: absolute;
  padding: 0 12px;
  width: 360px;
  height: 270px;
}

section.portfolio ul {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0 auto 35px !important;
  padding: 0;
}

section.portfolio ul li {
  color: #666;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

section.portfolio ul li:hover {
  color: #F25657;
}

@media (max-width: 991.98px) {
  section.portfolio ul {
    width: 50% !important;
  }
}

section.testimonials {
  position: relative;
  width: 100%;
  -webkit-padding-before: 80px;
          padding-block-start: 80px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 10px !important;
          padding-inline-start: 10px !important;
  -webkit-padding-end: 10px !important;
          padding-inline-end: 10px !important;
  background-color: #f6f6f6;
}

section.testimonials div.testimonials-header {
  margin: 0;
  padding: 0;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

section.testimonials div.testimonials-header p {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

section.testimonials div.testimonials-header p:first-child {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  cursor: default;
  z-index: 9997;
  -webkit-transition: .5s;
  transition: .5s;
}

section.testimonials div.testimonials-header p:first-child::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  bottom: 0;
  left: calc( 50% - 25px);
  background-color: #F25657;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

section.testimonials div.testimonials-header p:first-child:hover {
  color: #FCFCFC;
}

section.testimonials div.testimonials-header p:first-child:hover::before {
  width: 110%;
  left: -5%;
  height: 48px;
}

section.testimonials div.testimonials-header p:last-child {
  color: #666;
  font-style: italic;
  letter-spacing: 1.5px;
  text-align: center;
}

section.testimonials div.client-1, section.testimonials div.client-2 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.testimonials div.client-1 div:first-child, section.testimonials div.client-2 div:first-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.testimonials div.client-1 div:first-child div, section.testimonials div.client-2 div:first-child div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 5px solid #FCFCFC;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

section.testimonials div.client-1 div:first-child div:hover img, section.testimonials div.client-2 div:first-child div:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.testimonials div.client-1 div:first-child div img, section.testimonials div.client-2 div:first-child div img {
  width: 248px;
  height: 248px;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  -webkit-transition: .5s;
  transition: .5s;
}

section.testimonials div.client-1 div:first-child p:first-of-type, section.testimonials div.client-2 div:first-child p:first-of-type {
  color: #F25657;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px;
  cursor: default;
}

section.testimonials div.client-1 div:first-child p:last-of-type, section.testimonials div.client-2 div:first-child p:last-of-type {
  color: #333;
  margin: 0;
  cursor: default;
}

section.testimonials div.client-1 div:last-child, section.testimonials div.client-2 div:last-child {
  width: 850px;
  background-color: #FCFCFC;
  padding: 25px;
}

section.testimonials div.client-1 div:last-child img, section.testimonials div.client-2 div:last-child img {
  width: 37px;
  height: 29px;
  display: inline;
  position: relative;
}

section.testimonials div.client-1 div:last-child img:first-child, section.testimonials div.client-2 div:last-child img:first-child {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  bottom: 10px;
}

section.testimonials div.client-1 div:last-child img:last-child, section.testimonials div.client-2 div:last-child img:last-child {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  top: 10px;
}

section.testimonials div.client-1 div:last-child p, section.testimonials div.client-2 div:last-child p {
  width: 756px !important;
  position: relative;
  display: inline;
  color: #666;
  margin: 0;
}

section.testimonials div.client-2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 991.98px) {
  section.testimonials div.client-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-margin-after: 50px;
            margin-block-end: 50px;
  }
  section.testimonials div.client-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.testimonials div.client-1 div:first-child p:first-of-type, section.testimonials div.client-2 div:first-child p:first-of-type {
    margin: 0;
  }
  section.testimonials div.client-1 div:first-child p:last-child, section.testimonials div.client-2 div:first-child p:last-child {
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
  }
  section.testimonials div.client-1 div:last-child, section.testimonials div.client-2 div:last-child {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

section.team {
  position: relative;
  width: 100%;
  -webkit-padding-before: 80px;
          padding-block-start: 80px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  margin: 0;
  overflow: hidden;
  -webkit-padding-start: 10px !important;
          padding-inline-start: 10px !important;
  -webkit-padding-end: 10px !important;
          padding-inline-end: 10px !important;
  background-color: #FCFCFC;
}

section.team div.team-header {
  margin: 0;
  padding: 0;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

section.team div.team-header p {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

section.team div.team-header p:first-child {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  cursor: default;
  z-index: 9997;
  -webkit-transition: .5s;
  transition: .5s;
}

section.team div.team-header p:first-child::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  bottom: 0;
  left: calc( 50% - 25px);
  background-color: #F25657;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

section.team div.team-header p:first-child:hover {
  color: #FCFCFC;
}

section.team div.team-header p:first-child:hover::before {
  width: 110%;
  left: -5%;
  height: 48px;
}

section.team div.team-header p:last-child {
  color: #666;
  font-style: italic;
  letter-spacing: 1.5px;
  text-align: center;
}

section.team div.team-members {
  width: 100%;
  margin: 0 !important;
}

section.team div.team-members div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

section.team div.team-members div div.team-imgs {
  overflow: hidden;
  border: 0;
  border-radius: 10px;
}

section.team div.team-members div div.team-imgs:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.team div.team-members div div.team-imgs img {
  width: 261px;
  height: 261px;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  -webkit-transition: .5s;
  transition: .5s;
}

section.team div.team-members div div:last-of-type {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
}

section.team div.team-members div div:last-of-type a svg {
  width: 20px;
  height: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  color: #666;
}

section.team div.team-members div div:last-of-type a svg:hover {
  color: #F25657;
}

section.team div.team-members div p {
  margin: 0;
  cursor: default;
}

section.team div.team-members div p:first-of-type {
  font-size: 24px;
  font-weight: 700;
  color: #F25657;
}

section.team div.team-members div p:last-of-type {
  font-size: 13px;
  color: #666;
}

@media (max-width: 991.98px) {
  section.team div.team-members div:first-child, section.team div.team-members div:nth-child(2) {
    -webkit-margin-after: 50px !important;
            margin-block-end: 50px !important;
  }
  section.team div.team-members div div.team-imgs {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 767.98px) {
  section.team div.team-members div:first-child, section.team div.team-members div:nth-child(2), section.team div.team-members div:nth-child(3) {
    -webkit-margin-after: 50px !important;
            margin-block-end: 50px !important;
  }
  section.team div.team-members div div.team-imgs {
    margin-bottom: 0 !important;
  }
}

section.contact {
  position: relative;
  width: 100%;
  height: calc( 100vh - 93.5px);
  -webkit-padding-before: 80px;
          padding-block-start: 80px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  margin: 0;
  overflow: hidden;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  background-color: #f7f7f7;
}

section.contact div.contact-header {
  margin: 0;
  padding: 0;
  -webkit-margin-after: 100px;
          margin-block-end: 100px;
}

section.contact div.contact-header p {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

section.contact div.contact-header p:first-child {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  cursor: default;
  z-index: 9997;
  -webkit-transition: .5s;
  transition: .5s;
}

section.contact div.contact-header p:first-child::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  bottom: 0;
  left: calc( 50% - 25px);
  background-color: #F25657;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

section.contact div.contact-header p:first-child:hover {
  color: #FCFCFC;
}

section.contact div.contact-header p:first-child:hover::before {
  width: 110%;
  left: -5%;
  height: 48px;
}

section.contact div.contact-header p:last-child {
  color: #666;
  font-style: italic;
  letter-spacing: 1.5px;
  text-align: center;
}

section.contact div.contact-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 !important;
}

section.contact div.contact-details div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.contact div.contact-details div:hover div {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section.contact div.contact-details div div {
  position: relative;
  width: 312.66px;
  height: 154px;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(400px);
          transform: perspective(400px);
  background-color: transparent;
}

section.contact div.contact-details div div div {
  border: 0;
  border-bottom-right-radius: 30% 70%;
  border-top-left-radius: 30% 70%;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #FFF !important;
  -webkit-transform-style: preserve-3d !important;
          transform-style: preserve-3d !important;
}

section.contact div.contact-details div div div:first-child {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(10000px);
          transform: perspective(10000px);
}

section.contact div.contact-details div div div:first-child svg {
  width: 32px;
  height: 32px;
  color: #F25657;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

section.contact div.contact-details div div div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(400px) rotateY(180deg);
          transform: perspective(400px) rotateY(180deg);
}

section.contact div.contact-details div div div:last-child p {
  margin: 0;
  color: #666;
  font-weight: 700;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

@media (max-width: 991.98px) {
  section.contact {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  section.contact div.contact-header {
    -webkit-margin-after: 50px !important;
            margin-block-end: 50px !important;
  }
  section.contact div.contact-details div:first-child, section.contact div.contact-details div:nth-child(2) {
    -webkit-margin-after: 20px;
            margin-block-end: 20px;
  }
}

footer {
  position: relative;
  width: 100%;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
  margin: 0;
  overflow: hidden;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #FCFCFC;
  margin: 0;
  cursor: default;
}

footer p:first-child {
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
}

footer p:last-child {
  color: #b0b3b8;
  font-size: 13px;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
}

footer p:last-child span {
  color: #F25657;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  footer p:first-child {
    font-size: 15px;
  }
}

span.to-top {
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -50px;
  right: 15px;
  z-index: 9997;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #F25657;
  border-radius: 50%;
  padding: 10px;
}

span.to-top:hover {
  background-color: #F25657;
}

span.to-top svg.fa-angle-up {
  color: #fff;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

section.portfolio-description {
  position: relative;
  width: 80%;
  -webkit-padding-before: 80px;
          padding-block-start: 80px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

section.portfolio-description div.portfolio-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

section.portfolio-description div.portfolio-header h1 {
  color: #666;
  border-bottom: 2px solid #F25657;
}

section.portfolio-description div.portfolio-header p {
  color: #666;
  font-style: italic;
}

section.portfolio-description div.portfolio-header p a {
  text-decoration: none;
  color: #F25657;
}

section.portfolio-description div.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.portfolio-description div.container div.portfolio-details-slider {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

section.portfolio-description div.container div.portfolio-details-slider .swiper-wrapper {
  width: 736px;
  height: 426.27px;
  margin: 0 !important;
}

section.portfolio-description div.container div.portfolio-details-slider .swiper-wrapper div.swiper-slide {
  width: 100%;
  height: 100%;
}

section.portfolio-description div.container div.portfolio-details-slider .swiper-wrapper div.swiper-slide img {
  width: 100%;
  height: 100%;
}

section.portfolio-description div.container div.portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
  bottom: 10px;
}

section.portfolio-description div.container div.portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FCFCFC;
  opacity: 1;
  border: 1px solid #F25657;
}

section.portfolio-description div.container div:last-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

section.portfolio-description div.container div:last-child div:first-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  background-color: #FCFCFC;
  -webkit-margin-after: 50px !important;
          margin-block-end: 50px !important;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

section.portfolio-description div.container div:last-child div:first-child h2 {
  border-bottom: 1px solid #DDD;
  color: #666;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  font-size: 22px;
}

section.portfolio-description div.container div:last-child div:first-child p {
  color: #666;
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
}

section.portfolio-description div.container div:last-child div:first-child p a {
  text-decoration: none;
  color: #F25657;
}

section.portfolio-description div.container div:last-child div:last-child {
  width: 373px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  color: #666;
  margin: 0 !important;
}

section.portfolio-description div.container div:last-child div:last-child h3 {
  font-size: 26px;
  font-weight: 700;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}

section.portfolio-description div.container div:last-child div:last-child p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto !important;
  color: #666;
  font-style: italic;
}

@media (max-width: 991.98px) {
  section.portfolio-description {
    width: 100% !important;
  }
  section.portfolio-description div.container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  section.portfolio-description div.container div.portfolio-details-slider {
    -webkit-margin-end: 0 !important;
            margin-inline-end: 0 !important;
    -webkit-margin-after: 50px !important;
            margin-block-end: 50px !important;
  }
  section.portfolio-description div.container div.portfolio-details-slider div.swiper-wrapper {
    width: 100% !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  section.portfolio-description div.container div.portfolio-details-slider div.swiper-wrapper div.swiper-slide {
    width: 100% !important;
  }
  section.portfolio-description div.container div:last-child {
    width: 100% !important;
    -webkit-margin-start: 0 !important;
            margin-inline-start: 0 !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  section.portfolio-description div.container div:last-child div:first-child {
    width: 100% !important;
  }
}

@media (max-width: 767.98px) {
  section.portfolio-description div.portfolio-header {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  section.portfolio-description div.portfolio-header h1 {
    -webkit-margin-after: 20px !important;
            margin-block-end: 20px !important;
  }
}

.active-2 {
  background-color: #F25657 !important;
}

.active {
  color: #F25657 !important;
}

.swiper-pagination-bullet-active {
  background-color: #F25657 !important;
}
/*# sourceMappingURL=style.css.map */